<div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/bookform'">
       Add book
    </button>
  </div>
<p *ngIf = "!(books$ | async)">Loading...</p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}   
      <button 
      mat-raised-button color="primary"
      (click)=deleteBook(book.id)>
      Delete book
   </button>
    <button 
    mat-raised-button color="primary"
    [routerLink]="'/bookform/' + book.id">
    Update book
    </button>
    </mat-expansion-panel>
  </mat-accordion>
   <!-- <p *ngIf = "!(booksservice | async)">Loading a new book...</p> -->
  
