<mat-card>
  <h1>Temperature Form</h1>
  <form #tempForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Temperature" [(ngModel)] = "temperature"
                         name = "temperature"
                         required 
                         #temp = "ngModel">
        <mat-error *ngIf="!(temp.valid || temp.pristine)">
          Temperature is required
        </mat-error>                        
      </mat-form-field>
      
  
      <mat-form-field>
        <mat-select placeholder="City" [(ngModel)] = "city" name = "city" >
          <mat-option *ngFor = "let city of cities" [value]="city.name">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <div >
          <button mat-raised-button color="primary" [disabled]="!tempForm.form.valid">Primary</button>
      </div>
    </div>
  </form>
  </mat-card>